.results {
  width: 100%;
  max-width: 100%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}

.movieCard {
  display: flex;
  gap: 1rem;
  background-color: #1c1c1c;
  color: #f5f5f5;
  padding: 1.5rem;
  border-radius: 8px;
  min-height: 160px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  max-width:100%;
  overflow:hidden;
}

.moviePoster {
  flex-shrink: 0;
  width: 100px;
}

.moviePoster img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
}

.movieContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.movieTopRow {
  display: flex;
  align-items: baseline;
}

/*  */
.movieTopRow h3 {
  font-size: 18px;
  margin: 0;
  font-weight: 600;
}

.movieDate {
  font-size: 14px;
  font-weight: 300;
  color: #bbbbbb;
  margin-left: 1rem;
}

.movieOverview {
  font-size: 14px;
  color: #cccccc;
  margin-top: 0.5rem;
  line-height: 1.4;
}

p.movieOverview {
    text-align:left!important;
}

@media screen and (max-width: 600px) {
  .movieCard {
    flex-direction: column;
  }

  .moviePoster {
    width: 100%;
  }

  .moviePoster img {
    width: 100%;
    height: auto;
  }

  .movieTopRow {
    flex-direction: column;
    align-items: flex-start;
  }

  .movieDate {
    margin: 0.25rem 0 0 0;
  }
}
