.searchDiv {
    position: relative;
    margin-top: 1rem;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width:100%!important;
}

input.searchBar {
    width: 20%;
    height: 2.7rem;
    background-color:white;
    color: #1a1a1b;
    border-color: #4b4e55!important;
}

div.introText {
    margin-top:6rem;
}

h2.h2intro {
    font-size:2.5rem;
}

div.searchDiv button {
    background-color:#4b4e55;
    color:white;
}

@media (max-width: 768px) {
    input.searchBar {
    width: 50%;
    height: 2.7rem;
}

div.introText {
    margin-top:0;
}
}

