.searchDiv {
    position: relative;
    margin-top: 1rem;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width:100%!important;
}

input.searchBar {
    width: 20%;
    height: 2.5rem;
}

div.introText {
    margin-top:6rem;
}

h2.h2intro {
    font-size:2.5rem;
}

@media (max-width: 768px) {
    input.searchBar {
    width: 50%;
    height: 2.5rem;
}

div.introText {
    margin-top:0;
}


}

